@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: 'Space Mono', monospace;
  --font-sans: 'DM Sans', sans-serif;
}

body {
  font-family: var(--font-sans);
}

.font-mono {
  font-family: var(--font-mono);
}
